<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Books API</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
        .container {
            width: 80%;
            margin: 20px auto;
        }
        .books {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 20px;
        }
        .book {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            position: relative;
        }
        .book img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .actions {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .actions button {
            margin-left: 5px;
        }
        .search-bar {
            margin-bottom: 20px;
        }
        .h2 {
        text-decoration: none; /* Remove default underline for anchor tag */
        color: inherit; /* Inherit color from parent */
        }
        .h2:hover {
            text-decoration: underline; /* Add underline on hover */
            cursor: pointer; /* Change cursor to pointer on hover */
        }
    .navbar {
        background-color: #333;
        overflow: hidden;
    }
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
    .navbar a.active {
        background-color: #d5c4a1;
        color: white;
    }
    .navbar-right {
            float: right;
        }
</style>
</head>
<body>

<div class="navbar">
<a class="active" href="/">Home</a>
<a href="/add">Add Book</a>
<div class="navbar-right">
    <a href="/mylist"><%=username%></a>
    <a href="/logout">Logout</a>
  </div>
</div>
    <div class="container">
        <h1>Books API</h1>
        <div class="books">
            <% books.forEach(book => { %>
                <div class="book">
                    <img src="<%=book.cover_image%>" alt="Book Cover">
                    <a href="/<%=book.id%>" class="h2"><h2><%= book.title %></h2></a>
                    <p><strong>Author:</strong> <%= book.author %></p>
                    <p><strong>Publication Year:</strong> <%= book.publication_year %></p>
                    <p><strong>Genre:</strong> <%= `${ book.genre[0] }`  %></p>
                    <p><%= book.description %></p>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>